<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <div id="course-wrapper">

	<div id="course-content-wrapper">
		
		<a (click)="backClicked()" role="button">
			<button type="button" class="btn btn-secondary btn-outline"> <i class="fas fa-arrow-left mr-2"></i>Go Back</button>
		  </a>

	<section class="summary-section mb-5">
		<div class="courseSummary">
		<div class="container summary-content">
			<div class="summary-text">
				<h2>{{course.courseData.courseName}}</h2>
				<p>{{course.courseData.courseSubTitle}}</p>
                <h2 class="amount-text mb-3" *ngIf="course.courseData.courseTypeName != 'PassCode'"> {{totalAmount == 0 ? 'Free' : totalAmount |currency:"₦"}}</h2>
				<h2 class="amount-text mb-3" *ngIf="course.courseData.courseTypeName == 'PassCode'"> Passcode </h2>
			</div>
		</div>

	</div>

	</section>

	<div id="content">

	<!-- Begin Page Content -->
	<div class="main-content">
        <div class="container-fluid">
          <div class="preview-section">
          <div class="row">
          <div class="col-md-12 p-0">
            <div class="card">
                <h5 class="card-header">Course Content</h5>
                <div class="card-body">
            <!-- <div class="section-subtitle d-flex">
              <h3>Course Content</h3>
		  </div> -->
		  
		  <div *ngIf="courseTopicLists" id="accordion" class="mt-3 accordion">
            <div *ngFor="let courseTopicList of courseTopicLists;let i = index" [id]="'heading'+courseTopicList.courseTopic.id" class="card border-2 mb-3 shadow">
                <div class="card-header collapsed" data-toggle="collapse" [attr.data-target]="'#collapse'+courseTopicList.courseTopic.id">
                    <a class="card-title"> {{courseTopicList.courseTopic.topic}} </a>
				</div>
                <div [id]="'collapse'+courseTopicList.courseTopic.id" class="card-body p-0 collapse moreCollapse" data-parent="#accordion">
                  <ul *ngIf="course.courseData.courseTypeName != 'PassCode'" class="section_menu" aria-labelledby="userDropdown">
                    <li *ngFor="let courseTopicContent of courseTopicList.courseTopic.video" class="section-item">
                      <a (click)="playVideo(courseTopicContent.fileUrl)"  data-toggle="modal" data-target="#videoModal" role="button" class="d-inline">
						<i class="far fa-play-circle fa-fw mr-2"></i>
                      {{courseTopicContent.description}}
                    </a>
					  <div style="float: right;">
						<div class="d-flex justify-content-between align-items-center">
							<p style="margin: 0px 10px 0px 0px; font-size:14px;color:rgba(0, 0, 0, 0.5);">{{courseTopicContent.duration | customDuration: 'ms':'mmss'}}</p>
							<div class="dropdown">
								<button class="btn btn-sm btn-default btn-resource resource-list-dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  Select Action
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								  <button *ngIf="courseTopicContent.isApproved != true" class="dropdown-item" (click)="approveVideo(courseTopicContent.id)" type="button" id="PopoverCustomT1">Approve Video</button>
								  <button class="dropdown-item" (click)="declineVideo(courseTopicContent.id)" type="button" id="PopoverCustomT2">Decline Video</button>
								</div>
							  </div>

						</div>
					</div>
                    </li>
                    </ul>

					<span *ngIf="courseisVideoCourse != false">
						<ul *ngIf="course.courseData.courseTypeName == 'PassCode'" class="section_menu" aria-labelledby="userDropdown">
							<li *ngFor="let courseTopicContent of courseTopicList.courseTopic.video" class="section-item">
							  <a (click)="playVideo(courseTopicContent.courseVideoPreviewUrl)" role="button" class="d-inline">
								<i class="far fa-play-circle fa-fw mr-2"></i>
							  {{courseTopicContent.description}}
							  </a>
							  <div style="float: right;">
								<div class="d-flex justify-content-between align-items-center">
							  <p style="margin: 0px 10px 0px 0px; font-size:14px;color:rgba(0, 0, 0, 0.5);">{{courseTopicContent.duration | customDuration: 'ms':'mmss'}}</p>
							  <div class="dropdown">
								<button class="btn btn-sm btn-default btn-resource resource-list-dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  Select Action
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								  <button *ngIf="courseTopicContent.isApproved != true" class="dropdown-item" (click)="approveVideo(courseTopicContent.id)" type="button" id="PopoverCustomT1">Approve Video</button>
								  <button class="dropdown-item" (click)="declineVideo(courseTopicContent.id)" type="button" id="PopoverCustomT2">Decline Video</button>
								</div>
							  </div>
							  </div>
							  </div>
							</li>
							</ul>
						</span>
						
						<span *ngIf="course.isVideoCourse == false">
					<ul class="section_menu" aria-labelledby="userDropdown">
						<li *ngFor="let courseTopicContent of courseTopicList.courseTopic.material" class="section-item">
						  <a href="{{courseTopicContent.fileUrl}}" target="_blank" role="button" class="d-inline">
							<i class="far fa-play-circle fa-fw mr-2"></i>
						  {{courseTopicContent.description}}
						</a>
						  <div style="float: right;">
							<div class="d-flex justify-content-between align-items-center">
								<div class="dropdown">
									<button class="btn btn-sm btn-default btn-resource resource-list-dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									  Select Action
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									  <button *ngIf="courseTopicContent.isApproved != true" class="dropdown-item" (click)="approveMaterial(courseTopicContent.id)" type="button" id="PopoverCustomT1">Approve Material</button>
									  <button class="dropdown-item" (click)="declineVideo(courseTopicContent.id)" type="button" id="PopoverCustomT2">Decline Material</button>
									</div>
								  </div>
	
							</div>
						</div>
						</li>
						</ul>
						</span>
                  </div>
			</div>
		  </div>
          </div>
          </div>

        </div>
            
          </div></div>
</div>
		</div>
		

		<div class="objective-content">
			<div class="container-fluid">
				<div class="objective-section">
					<div class="row">
						<div class="col-md-12 p-0">
                            <div class="card">
                <h5 class="card-header">Course Objectives</h5>
                <div class="card-body">
							<!-- <div class="section-subtitle mb-5 d-flex">
							  <h3>Course Objectives</h3>
						  </div> -->
						  <article>
							<p [innerHTML] ="objectiveContent.objective" *ngFor="let objectiveContent of objectiveContents"></p>
						  </article>
					<!-- <a href="#">Read More</a>	 -->
					</div>
				</div>
			</div>

		</div>
		</div>
        </div>
        </div>

		<div class="requirement-content">
			<div class="container-fluid">
				<div class="requirement-section">
					<div class="row">
						<div class="col-md-12 p-0">
                            <div class="card">
                                <h5 class="card-header">Course Requirements</h5>
                                <div class="card-body">
							<!-- <div class="section-subtitle mb-5 d-flex">
							  <h3>Course Requirements</h3>
						  </div> -->
						  <article>
							<p [innerHTML] ="requirementContent.requirement" *ngFor="let requirementContent of requirementContents"></p>
						  </article>
					<!-- <a href="#">Read More</a>	 -->
					</div>
				</div>
			</div>
            </div>
            </div>

		</div>
		</div>
		
		<div class="description-content">
			<div class="container-fluid">
				<div class="description-section">
					<div class="row">
						<div class="col-md-12 p-0">
                            <div class="card">
                                <h5 class="card-header">Course Description</h5>
                                <div class="card-body">
							<!-- <div class="section-subtitle mb-5 d-flex">
							  <h3>Course Description</h3>
						  </div> -->
						  <article>
						  <p [innerHTML] = "course.courseData.courseDescription"></p>
						  </article>
					<!-- <a href="#">Read More</a>	 -->
					</div>
				</div>
			</div>

		</div>
		</div>
	</div>
</div>

<div style="float: right;">
	<span class="mr-2" *ngIf="course.courseData.isApproved != true" (click)="approveCourse(course.courseData.id)" role="button">
		<button type="button" class="btn btn-secondary btn-outline">Approve <i class="fas fa-check ml-2"></i></button>
	  </span>

	  <span *ngIf="course.courseData.isApproved != true" role="button">
		<button type="button" class="btn btn-secondary btn-outline">Decline <i class="fas fa-check ml-2"></i></button>
	  </span>
	</div>

</div>
</div>
</div>
</div>
</div>


<!-- Play Preview Modal -->
<div class="modal fade" id="videoModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="videoModalLabel">Course Preview</h5>
		  <button type="button" class="close" (click)="stopVideo()" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">×</span>
		  </button>
		</div>
		<div class="modal-body">
			<video id="my-video"  class="video-js vjs-big-play-centered" controls preload="auto" width="560" height="350" poster="MY_VIDEO_POSTER.jpg" data-setup='{}'>
				<source type='video/mp4'>
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
				</p>
			</video>
		</div>
		<div class="modal-footer">
		</div>
	  </div>
	</div>
  </div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a routerLinkActive="list-item-active" data-dismiss="modal" (click)="onLogoutClick()" class="btn btn-primary">Logout</a>
        </div>
      </div>
    </div>
  </div>