#course-wrapper #course-content-wrapper .main-content {
    margin-left: 0px;
    width: auto;
}

#content .main-content {
    padding: 0px;
}

.content-alignment {
    border-top: 1px solid #707070;
    background: none;
    position: relative;
}

.option-section {
    background-color: #FFF;
    padding: 2rem 0;
    margin-left: auto;
}

.dashboard-ecommerce .dashboard-content #course-wrapper #course-content-wrapper {
    background: none !important;
    width: 100%;
    overflow-x: hidden;
    /* margin-left: 60px; */
}

.courseSummary {
    position: relative;
    height: 280px;
    /* background: linear-gradient(
90deg
, rgb(0, 64, 64), rgb(0, 115, 115) 100%); */
    /* position: relative; */
    background-image: none;
}

.bs-example{
    margin: 20px;
}
.accordion .fa{
    margin-right: 0.5rem;
      font-size: 24px;
      font-weight: bold;
    position: relative;
    top: 2px;
}
.title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 7px;
}

.mt--69 {
	margin-top: .69rem!important;
}

.sub-title {
	font-size: 13px;
	margin-bottom: 7px;
}

.amount-text {
    display: block;
    width: 100%;
    clear: both;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #007070;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.summary-text h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 20px;
}

.summary-text p {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.8;
    color: #878787;
}

.title-amount {
	font-size: 17px;
	font-weight: bolder;
	text-align: right;
}

.more-course-list .card-effect {
	padding: 0px;
	background: #f8f9fc;
}

.show-less {
	position: relative;
    height: 200px;
	overflow: hidden;
	display: block;
    /* padding: 1rem; */
}

.show-less .read-more {
	position: absolute; 
	bottom: 0; 
	width: 100%;
	color: #006666;
	font-size: 16px;
	/* font-weight: bold; */
	top: 37rem;
	background-image: linear-gradient(to bottom, transparent, white);
}


/* READ MORE BUTTON */
.maxlist-more { padding-left: 26px; font-weight: bold; }
.maxlist-more a { text-decoration:none; border-bottom: 1px dotted #D3572A; color:#D3572A; }
.maxlist-more a:hover { text-decoration:none; border-color: #A33713; color:#B72D00; } 





/* EXAMPLE HEADER */
.explain { 
	padding: 10px;
	background: #ffffff; 	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	width: 700px;
}

.modal-dialog {
	margin-top: 20px;
    max-width: 590px;
}

.accordion>.card {
    overflow: initial !important;
}

.section-item {
    display: block;
    width: 100%;
    padding: 0.85rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #3a3b45;
    /* height: 0; */
    margin: .5rem 0;
    /* overflow: hidden; */
    overflow: initial !important;
    border-bottom: 1px solid #eaecf4;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    /* border: 0; */
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #3a3b45;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100000;
    /* display: none; */
    float: left;
    min-width: 180px;
    max-width: calc(100vw - 30px);
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    box-shadow: 0 4px 16px rgba(20,23,28,.25);
    background-clip: padding-box;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #2e2f37;
    text-decoration: none;
    background-color: #f8f9fc
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #006666
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #858796;
    pointer-events: none;
    background-color: transparent
}

.dropdown-menu.show {
    display: block
}

.dropdown-header {
    display: block;
    padding: .5rem 1.5rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #858796;
    white-space: nowrap
}

.dropdown-item-text {
    display: block;
    padding: .25rem 1.5rem;
    color: #3a3b45
}
