<app-school-navbar></app-school-navbar>
	<div class="school-bg">
        <div class="form-body">
        <div class="row">
			<div class="col-md-7">
            <div class="pl-10 img-holder">
                <!-- <div class="bg"></div> -->
                <div class="info-holder">
                    <h2 class="welcome-title">Join over 5 million expertplat students' and teachers around the world</h2>
                    </div>
			</div>
		</div>
		<div class="col-md-5 form-holder">
            <!-- <div class="form-holder"> -->
                <div style="background-color: transparent;" class="form-content pt-20 pr-10">
                    <div class="w500 form-items">
                        <div class="page-links">
                            <a href="#" class="active">Choose an Account</a>
                        </div>
                        <div class="usertypes-options">
                            <a  href="https://expertplat.com:8070/login" >
                            <button class="big-button-text-image text-left usertype-btn qa-test-usertypePicker-teacherOptionBtn">
                                <div class="row">
                                    <div class="image-col col-3">
                                        <i class="fas fa-school"></i>
                                    </div>
                                    <div class="desc-col col-9">
                                        <div class="button-title">
                                            <span>School Account</span>
                                        </div>
                                        <div class="button-description">
                                            <span>For school admin, principals, vice principals, teachers, co-teachers, and other staffs</span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </a>
                        <a href="https://expertplat.com:8070/login?user=student">
                            <button class="big-button-text-image text-left usertype-btn qa-test-usertypePicker-studentOptionBtn">
                                <div class="row">
                                    <div class="image-col col-3">
                                        <i class="fas fa-user-graduate"></i>
                                    </div>
                                    <div class="desc-col col-9">
                                        <div class="button-title">
                                            <span>Student Account</span>
                                        </div>
                                        <div class="button-description">
                                            <span>For students, class participants, club members, etc</span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </a>
                        <a href="https://expertplat.com:8070/login?user=parent">
                            <button class="big-button-text-image text-left usertype-btn qa-test-usertypePicker-parentOptionBtn">
                                <div class="row">
                                    <div class="image-col col-3">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="desc-col col-9">
                                        <div class="button-title">
                                            <span>Parent Account</span>
                                        </div>
                                        <div class="button-description">
                                            <span>For parents or guardians</span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </a>
                        </div>
                        <!-- <div class="other-links">
                            <span>Already have an Account ?</span><a href="log-in.html">Log in</a>
                        </div> -->
                    </div>
                </div>
			<!-- </div> -->
		</div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
