<div class="card mb-3">
    <div class="pad15 row no-gutters">
        <div class="col-md-4 thumb">
            <div class="overlay">
                <img class="thumbnail"
                        src="{{courseImage}}"
                        height="152px" alt="">
                <a class="playWrapper"></a>
            </div>
        </div>
        <div class="col-md-8 pt-15 pb-15">
            <div class="card-body">
            <h6 class="card-title course-name">{{courseName}}</h6>
                <span
                    class="lecture-progress-text">
                    <span class="progress-heading-xs">Start Learning </span>
                    <span class="progress-text-xs">{{duration}}</span>
                </span>
            </div>
        </div>
    </div>
</div>