<div class="container-fluid">

    <div class="payment-section top-pad" style="height: 100vh;">
        <div class="add-payment">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>Payment</h2>
      </div>
    </div>

    <div *ngIf="loading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>

    <div class="col-md-4" *ngFor="let accountDetail of accounts">
        <div class="payment-method-details-container">
            <div class="payment-methods-card">
            <div class="details-info-panel">
                <div class="details-image-container">
                    <!-- <i class="far fa-credit-card"></i> -->
                    <img src="assets/img/credit-card-80.png" alt="credit card image" class="details-image">
                </div>
                <div class="details-header">
                    <div class="details-label">
                        {{accountDetail.accountNumber}}
                    </div>
                    <div class="details-label-name">
                        {{accountDetail.bankName}}
                    </div>
                    <div class="detail-info-non-header">
                        <span>{{accountDetail.accountName}}</span>
                    </div>
                </div>
            </div>
            
            <div class="details-actions-bar">
                <div class="default-action">
                    <a *ngIf="accountDetail.isActive == true" class="button-default">Default</a>
                    <a *ngIf="accountDetail.isActive != true" class="button-default" role="button" (click)="setDefault(accountDetail)">Set as Default</a>
                </div>
                <div class="details-default-actions">
                    <div class="details-action">
                        <a class="button-standard" role="button" (click)="removeAccount(accountDetail.id)">Remove</a>
                    </div>
                    <div class="details-action">
                    <a class="button-standard" role="button" (click)="editAccount(accountDetail)">Edit</a>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="col-md-4">
        <a class="payment-method-add-widget-link button-standard" role="button" (click)="openBankDetails()">
            <div>
            <i class="fa fa-plus-circle" aria-hidden="true"></i></div>
            <div class="info-message link-display-text">
                <span>Add Payment</span>
            </div>
        </a>
    </div>

    </div>
</div>

<div class="bank-details" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="option-content-container">
                    <img src="assets/img/credit-card-80.png" alt="">
                    <div class="option-content">
                        <div class="additional-option">
                            <span class="option-label">Add Bank Details</span>
                        </div>
                    </div>
                </div>
                <div class="form-content">
                    <form>
                        <div class="form-group mb-0">
                            <select (change)='selectValueChanged($event)' [(ngModel)]="account.BankCode " class="form-control form-control-lg" name="bank" id="selectBankName">
                                <option [ngValue]="null">Bank</option>
                                <option *ngFor="let bank of banks" value="{{bank.code}}">{{bank.name}}</option>
                            </select>
                        </div>
                        <div class="form-group mb-0">
                          <label for="accountNo"class="form-adjust" >Account Number</label>
                          <input class="form-control" type="text" maxlength="10" [(ngModel)]="account.AccountNumber" name="accountNo" required>
                        </div>
                        <div *ngIf="resolvedData != true" class="form-button">
                          <button class="btn btn-secondary" type="button" (click)="resolveAccountNumber()">Retrieve Name</button>
                          <button class="btn btn-danger" type="button" (click)="cancelCreation()">Cancel</button>
                        </div>
                          <div *ngIf="resolvedData == true" class="form-group mb-0">
                            <label for="accountName"class="form-adjust" >Account Name</label>
                            <input class="form-control" value="accountDetail.account_name" type="text" [(ngModel)]="account.AccountName" name="accountName" required disabled>
                          </div>
                        <div *ngIf="resolvedData == true" class="form-button">
                          <button class="btn btn-danger" type="button" (click)="cancelCreation()">Cancel</button>
                            <button id="submit" type="submit" (click)="onCreateSubmit()" class="btn ibtn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    </div>

              <!-- Edit Account Modal-->
<div class="modal fade" id="editSectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Account Details</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <!-- <div class="form-group mb-0">
                <label for="bank"class="form-adjust" >Bank</label>
                <input class="form-control" type="text" [(ngModel)]="account.BankName" name="bank" required>
              </div> -->
            <div class="form-group mb-0">
              <label for="accountNo"class="form-adjust" >Bank</label>
                <select (change)='selectValueChanged($event)' [(ngModel)]="account.BankCode " class="form-control form-control-lg" name="bank" id="selectBankName">
                    <option [ngValue]="null">Select bank</option>
                    <option *ngFor="let bank of banks" value="{{bank.code}}">{{bank.name}}</option>
                </select>
            </div>
            <div class="form-group mb-0">
              <label for="accountNo"class="form-adjust" >Account Number</label>
              <input class="form-control" type="text" maxlength="10" [(ngModel)]="account.AccountNumber" name="accountNo" required>
            </div>
            <div *ngIf="resolvedData != true" class="success-divider mt-5 mb-2"></div>
            <div *ngIf="resolvedData != true" class="form-button">
              <button class="btn btn-secondary" type="button" (click)="resolveAccountNumber()">Retrieve Name</button>
            </div>
              <div *ngIf="resolvedData == true" class="form-group mb-0">
                <label for="accountName"class="form-adjust" >Account Name</label>
                <input class="form-control" value="accountDetail.account_name" type="text" [(ngModel)]="account.AccountName" name="accountName" required disabled>
              </div>
              <div *ngIf="resolvedData == true" class="success-divider mt-5 mb-2"></div>
            <div *ngIf="resolvedData == true" class="form-button">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button id="submit" type="submit" (click)="onUpdateSubmit()" class="btn ibtn">Submit</button>
            </div>
        </form>

            <!-- <form (submit)="onUpdateSubmit()">
                <div class="form-group mb-0">
                    <label for="bank"class="form-adjust" >Bank</label>
                    <input class="form-control" type="text" [(ngModel)]="account.BankName" name="bank" required>
                  </div>
                  <div class="form-group mb-0">
                    <label for="accountName"class="form-adjust" >Account Name</label>
                    <input class="form-control" type="text" [(ngModel)]="account.AccountName" name="accountName" required>
                  </div>
                  <div class="form-group mb-0">
                    <label for="accountNo"class="form-adjust" >Account Number</label>
                    <input class="form-control" type="text" maxlength="10" [(ngModel)]="account.AccountNumber" name="accountNo" required>
                  </div>
                  <div class="success-divider mt-5 mb-2"></div>
                <div class="form-button">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button id="submit" type="submit" class="btn ibtn">Submit</button>
                </div>
            </form> -->
            
        </div>
        <!-- <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn ibtn"  data-dismiss="modal" >Continue</a>
        </div>
    </form> -->
      <!-- </div> -->
    </div>
  </div>
  </div>


    <!--Delete Account Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Account</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Are you sure you want to Delete this Account?.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
              <a routerLinkActive="list-item-active" (click)="confirmDeleteAccount()" class="btn btn-delete">Yes</a>
            </div>
          </div>
        </div>
      </div>

      
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a routerLinkActive="list-item-active" data-dismiss="modal" (click)="onLogoutClick()" class="btn btn-primary">Logout</a>
      </div>
    </div>
  </div>
</div>