<!-- <app-super-admin-navbar></app-super-admin-navbar> -->
<div class="form-body">
        
    <div class="row account-bg">
        <div class="col-md-8">
        <div class="img-holder">
            <!-- <div class="bg"></div> -->
            <div class="info-holder">
                <h2>Welcome, ADMINISTRATOR</h2>
                <!-- <p>Access to the most powerfull tool in the entire design and web industry.<br><br>
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p> -->
            </div>
        </div>
    </div>
    <div class="col-md-4 form-holder">
        <!-- <div class="form-holder"> -->
            <div class="form-content pda">
                <div class="form-items">
                    <div class="page-links">
                        <a href="#" class="active">Login</a>
                    </div>
                    <flash-messages></flash-messages>
                                
                    <form (submit)="onLoginSubmit()" [formGroup]="loginForm">
                        <div class="form-group mb-0">
                            <label for="Email"class="form-adjust" >E-mail Address</label>
                            <input class="form-control" type="email" formControlName="Email" name="Email" required>
                          </div>
                          <div class="form-group mb-0">
                            <label for="Password"class="form-adjust" >Password</label>
                            <input class="form-control" type="password" formControlName="Password" name="Password" required>
                          </div>
                        <div class="form-button">
                            <button id="submit" type="submit" class="ibtn">Login</button><a [routerLink]="['/forgot-password-learner']">Forgot password?</a>
                        </div>
                    </form>
                </div>
            </div>
        <!-- </div> -->
    </div>
    </div>
</div>
  
<app-footer></app-footer>