/* #loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    } */
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }


    /* @keyframes bouncing {
      0% {
        top: 40%;
      }
      100% {
        top: 30%;
      }
    } */
    
    @keyframes fadein {
      0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
    }
    
    .page-overlay-wrapper {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 1059;
      background: rgba(112, 191, 93, 0.5);

    }
    
      .page-overlay-wrapper .bee-spinner {
        position: absolute;
    left: 50%;
    top: 50%;
    /* z-index: 1; */
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    /* border: 16px solid #f3f3f3;
    border-radius: 50%; */
    /* border-top: 16px solid #3498db; */
    /* width: 120px;
    height: 120px; */
    /* animation: spin 2s linear infinite;
        width: 150px;
        height: 150px;
        position: fixed;
        top: 40%;
        left: calc(50% - 10%); */
        z-index: 100;
        background-image: url(../../../../../assets/img/spinner.png);
        background-repeat: no-repeat;
        background-size: 97%;
        /* animation: spin 0.4s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite */
        animation: spin 2s linear infinite
          /* alternate both; */
    }


    /* .page-overlay-wrapper .spinner-border {
      width: 20%;
      height: 20%;
      position: fixed;
        top: 40%;
        left: calc(50% - 10%);
        z-index: 100;
        background-repeat: no-repeat;
        background-size: 97%;
  } */