
	<app-navbar></app-navbar>
	<section class="WelcomeCarousel">

		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!--uncomment thsi line if you want indicators-->
			<!-- <ol class="carousel-indicators">
			  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol> -->
			<div class="carousel-inner" role="listbox">
				<!-- Slide One - Set the background image for this slide in the line below -->
				<div class="carousel-item active" style="background-image: url('assets/img/slides/learning-3245793_1920.jpg')">
					<div class="carousel-caption carousel-content">
						<h2>Make a Global Impact</h2>
						<p>Create and Sell Online Courses under your won Brand and see the First hand Impact teaching
							online with expertplat will have on your business.</p>
						<button class="carousel-btn" data-toggle="modal" data-target="#myModal">Get Started for Free<i class="fas fa-arrow-right"></i></button>
					</div>
				</div>
				<!-- Slide Two - Set the background image for this slide in the line below -->
				<div class="carousel-item" style="background-image: url('assets/img/slides/slide-2.jpg')">
					<div class="right carousel-caption carousel-content">
						<h2>Make a Global Impact</h2>
						<p>Create and Sell Online Courses under your won Brand and see the First hand Impact teaching
							online with expertplat will have on your business.</p>
					</div>
				</div>
				<!-- Slide Three - Set the background image for this slide in the line below -->
				<div class="carousel-item" style="background-image: url('assets/img/slides/slide-3.jpg')">
					<div class="carousel-caption carousel-content">
						<h2>Make a Global Impact</h2>
						<p>Create and Sell Online Courses under your won Brand and see the First hand Impact teaching
							online with expertplat will have on your business.</p>
						<button class="carousel-btn" data-toggle="modal" data-target="#myModal">Get Started for Free<i class="fas fa-arrow-right"></i></button>
					</div>
				</div>
			</div>

			<!-- </div> -->
			<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

	</section>

	<section class="spad">

		<div class="discover container">
			<div class="row">
				<div class="col-12">
					<!-- Section Heading Area -->
					<div class="section-title text-center">
						<h2>Discover your potential</h2>
						<div class="line-shape"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- Single Special Area -->
				<div class="col-12 col-md-4">
					<div class="single-special text-center">
						<div class="single-icon">
							<i class="fa fa-piggy-bank custom-fa"></i>
							<!-- <i class="ti-mobile" aria-hidden="true"></i> -->
						</div>
						<h4>Earn Money</h4>
						<p>Earn money every time a student purchase your course. Get paid Monthly through PayStack or
							Payment. Its your choice</p>
					</div>
				</div>
				<!-- Single Special Area -->
				<div class="col-12 col-md-4">
					<div class="single-special text-center">
						<div class="single-icon">
							<i class="fa fa-play-circle custom-fa"></i>
						</div>
						<h4>Inspire Students</h4>
						<p>Help people Learn New skills, advance their careers, and explore their hobbies by sharing
							your Knowledge</p>
					</div>
				</div>
				<!-- Single Special Area -->
				<div class="col-12 col-md-4">
					<div class="single-special text-center">
						<div class="single-icon">
							<i class="fa fa-thumbs-up custom-fa"></i>
						</div>
						<h4>Join our Community</h4>
						<p>Earn money every time a student purchase your course. Get paid Monthly through PayStack or
							Payment. Its your choice</p>
					</div>
				</div>
			</div>
		</div>

	</section>

	<!-- member_counter counter start -->
    <section class="member_counter">
        <div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Section Heading Area -->
					<div class="member-section-title text-center">
						<h2>Extra-ordinary Opportunities</h2>
						<div class="line-shape"></div>
					</div>
				</div>
			</div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">1024</span>
                        <h4>Students</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">960</span>
                        <h4> Courses <br>Enrollment</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">1020</span>
                        <h4>Parents</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">820</span>
                        <h4>Teachers</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- member_counter counter end -->

	  <!--Testimonials-->
	  <section class="testimonie-section spad">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Section Heading Area -->
					<div class="testimonie-section-title text-center">
						<h2>Broaden Your Horizon</h2>
						<div class="line-shape"></div>
						<p>We've Changed Lives by Linking Students with Top Notch Instructors.</p>
					</div>
				</div>
			</div>
			  <div class="row top-course">
			  <div class="col-12 col-lg-12 col-md-12">

				<div id="teacher-testimonial" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="carousel-caption">
								<p>I would Highly Recommend Expertplat for your go-to Learning Platform as their Instructors are extremely Professional and their Courses were Incredibly Helpful throughout the entire process of building our new Website. </p> <img src="assets/img/authors/testimonial-1.jpg">
								<div id="image-caption">Nicholas Aderibigbe</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="carousel-caption">
								<p>If Shai Reznik's TDD videos don't convince you to add automated testing your code, I don't know what will.This was the very best explanation of frameworks for beginners I've ever seen.</p> <img height="200" src="assets/img/authors/testimonial-2.jpg" class="img-fluid">
								<div id="image-caption">Christopher Linus</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="carousel-caption">
								<p>I visited Expertplat and tried out a Project Mangement Course. The experience was grea. I’d highly recommend them to anyone.</p> <img height="200" src="assets/img/authors/testimonial-3.jpg" class="img-fluid">
								<div id="image-caption">Harry Monachi</div>
							</div>
						</div>
					</div> <a class="carousel-control-prev" href="#teacher-testimonial" data-slide="prev"> <i class='fas fa-arrow-left'></i> </a> <a class="carousel-control-next" href="#teacher-testimonial" data-slide="next"> <i class='fas fa-arrow-right'></i> </a>
				</div>
  
				  <!-- End of testimonieCarousel -->
  
			  </div>
		  </div>
			  <!-- End of Col-md-12 -->
  
		  <!-- End of Row -->
  
	  </div>
  </section>
		<!-- END Testimonials-->
  
		<!-- member_counter counter start -->
    <section class="help-section">
        <div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Section Heading Area -->
					<div class="help-section-title">
						<h2>We can Help</h2>
						<div class="line-shape"></div>
					</div>
				</div>
			</div>
            <div class="row">
                <div class="col-12">
                    <div class="help-text">
                        <h4>Our Instructor Support Team is here for you 24/7 to help you through your course creation needs. Use our Teaching Center, a resource center to help you through the process. Join Studio U and get peer-to-peer support from our engaged instructor community. This community group is always on, always there, and always helpful.</h4>
                    </div>
				</div>
            </div>
                
            </div>
    </section>
    <!-- member_counter counter end -->
  
	<!-- banner section -->
	<section class="banner-section spad">
		<div class="container">
			<div class=" text-center mb-0 pb-2">
				<h2>Become an instructor today</h2>
				<p>Join the world's largest online learning marketplace.</p>
			</div>
			<div class="text-center pt-2">
				<a [routerLink]="['/login']" class="site-btn">Start Teaching</a>
			</div>
		</div>
	</section>
    <!-- banner section end -->
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="myModalLabel">Become a Facilitator with expertplat</div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <flash-messages></flash-messages>
                <div class="mb-3">
                    Discover a supportive community of online instructors. Get instant access to all course creation resources.
                    </div>
                    <form role="form" [formGroup]="registerForm" (submit)="onRegisterSubmit()">
                        <div class="form-group">
                            <div class="icon-addon addon-lg">
                            <input class="form-control" type="text" formControlName="FirstName" name="FirstName" placeholder="First name" required>
                            <label for="FirstName" class="fa fa-user" rel="tooltip" title="FirstName"></label>
                          </div>
                        </div>
                          <div class="form-group">
                            <div class="icon-addon addon-lg">
                            <input class="form-control" type="text" formControlName="LastName" name="LastName" placeholder="Last name" required>
                            <label for="LastName" class="fa fa-user" rel="tooltip" title="LastName"></label>
                          </div>
                          </div>
                          <div class="form-group">
                            <div class="icon-addon addon-lg">
                            <input class="form-control" type="tel" formControlName="PhoneNumber" name="PhoneNumber" placeholder="Phone number" required>
                            <label for="PhoneNumber" class="fa fa-phone" rel="tooltip" title="PhoneNumber"></label>
                          </div>
                          </div>
                          <div class="form-group">
                            <div class="icon-addon addon-lg">
                            <input class="form-control" type="email" formControlName="Email" name="Email" placeholder="E-mail Address" required>
                            <label for="Email" class="fa fa-envelope" rel="tooltip" title="Email"></label>
                          </div>
                          </div>
                          <div class="form-group">
                            <div class="icon-addon addon-lg">
                            <input class="form-control" type="password" formControlName="Password" name="Password" placeholder="Password" required>
                            <label for="Password" class="fa fa-key" rel="tooltip" title="Password"></label>
                          </div>
                          </div>
                          <div class="form-group">
                            <div class="icon-addon addon-lg">
                            <input class="form-control" type="password" formControlName="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Passsword" required>
                            <label for="ConfirmPassword" class="fa fa-key" rel="tooltip" title="ConfirmPassword"></label>
                          </div>
                          </div>
                          <div class="form-group">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="check" required>
                              <label class="form-check-label t-and-c-label" for="check">
                                Agree to our Terms of Use and Privacy Policy.
                              </label>
                            </div>
                          </div>
                        <div class="form-button text-center">
                            <button id="submitConfirm" type="submit" class="btn btn-danger w-100">Sign up</button> 
                            <!-- <a href="forget15.html">Forgot password?</a> -->
                        </div>
                    </form>
                    <!-- [hidden]="true"  -->
                    <!-- data-toggle="modal" data-target="#confirmModal"  -->
            </div>
            <div class="modal-footer justify-content-center">
                <span>Already have an Account ?</span><a data-dismiss="modal" [routerLink]="['/login']"><u>Log in</u></a>
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="confirmModal" [style.display]="showModal ? 'block' : 'none'" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="confirmModalLabel">Email Confirmation</div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div style="border-radius:200px; height:100px; width:100px; background: #F8FAF5; margin:0 auto;">
                    <img src="assets/img/Group 15946@2x.png">
                </div>
                <flash-messages></flash-messages>
                <div class="mb-3 text-center">
                    <p>We have sent a code to <span style="font-size:20px;color:#006666;">{{email}}</span></p>
                    <p>Please Enter the code sent to you</p>
                    </div>
                    <form (submit)="onActivateSubmit()"class="success-input">
							
                        <input class="form-control side-space" type="text" [(ngModel)]="Code" name="confirmation-code" placeholder="" required>

                        <div class="success-divider"></div>
                        
                        <div class="form-button mt-2">
                            <a  style="color:#006666;" (click)="resendCode()">resend code</a>
                            <button id="submit" type="submit" class="btn btn-danger ibtn">continue</button> 
                        </div>
                    </form>
            </div>
            <!-- <div class="modal-footer justify-content-center">
                <div class="form-button mt-2">
                    <a  style="color:#006666;"href="#">resend code</a>
                    <button id="submit" type="submit" class="btn btn-danger ibtn">continue</button> 
                </div>
            </div> -->
          </div>
        </div>
      </div>

	  <app-footer></app-footer>