<app-navbar></app-navbar>

<div class="wrapper _bg4586">
  <div class="_216b01">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-10">
          <div class="section3125 rpt145">
            <div class="row">
              <div class="col-lg-7">
                <a href="#" class="_216b22">
                  <span><i class="uil uil-windsock"></i></span>Report Profile
                </a>
                <div class="dp_dt150">
                  <div class="img148">
                    <img src="{{profilePicture == null ? 'assets/img/gender-neutral-user.png' : profilePicture}}" alt="">
                  </div>
                  <div class="prfledt1">
                    <h2>{{facilitator.firstName}}&nbsp;{{facilitator.lastName}}</h2>
                    <span>{{facilitator.profession}}</span>
                  </div>
                </div>
                <ul class="_ttl120">
                  <li>
                    <div class="_ttl121">
                      <div class="_ttl122">Enroll Students</div>
                      <div class="_ttl123">{{coursesCount}}</div>
                    </div>
                  </li>
                  <li>
                    <div class="_ttl121">
                      <div class="_ttl122">Courses</div>
                      <div class="_ttl123">{{facilitatorCourseCount}}</div>
                    </div>
                  </li>
                  <li>
                    <div class="_ttl121">
                      <div class="_ttl122">Reviews</div>
                      <div class="_ttl123">{{reviewsCount}}</div>
                    </div>
                  </li>
                  <li>
                    <div class="_ttl121">
                      <div class="_ttl122">Subscribers</div>
                      <div class="_ttl123">452K</div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-lg-5">
                <a class="_216b12">
                  <span><i class="uil uil-windsock"></i></span>Report Profile
                </a>
                <div class="rgt-145">
                  <ul class="tutor_social_links">
                    <li><a class="fb"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="tw"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a class="yu"><i class="fab fa-youtube"></i></a></li>
                  </ul>
                </div>
                <ul class="_bty149">
                  <li><button class="subscribe-btn btn500">Subscribe</button></li>
                  <li><button class="msg125 btn500">Message</button></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="_215b15">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="course_tabs">
            <nav>
              <div class="nav nav-tabs tab_crse" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
                  aria-selected="true">About</a>
                <a class="nav-item nav-link" id="nav-courses-tab" data-toggle="tab" href="#nav-courses" role="tab"
                  aria-selected="false">Courses</a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="_215b17">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="course_tab_content">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-about" role="tabpanel">
                <div class="_htg451">
                  <div class="_htg452">
                    <h3>About Me</h3>
                    <p>{{facilitator.bio == null ? 'Facilitator has not added any bio Information' : facilitator.bio}}</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-courses" role="tabpanel">
                <div class="crse_content">
                  <h3>My courses ({{facilitatorCourseCount}})</h3>
                  <div class="_14d25">
                    <h3 id="message" class="mt-5 pl-30">{{message}}</h3>
                    <div class="row">
                      <div class="text-center">
                      <div *ngIf="loading" class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                      <!-- <div *ngIf="facilitatorCourses"> -->
                      <div *ngFor="let facilitatorCourse of facilitatorCourses| paginate : {
      itemsPerPage: pageSize,
      currentPage: page,
      totalItems: count
      };
      let i = index
      " [class.active]="i == currentIndex" (click)="setActiveCourse(facilitatorCourse.courseData, i)" class="col-md-3">
                          <a routerLink="/course-preview" [queryParams]="{ course: facilitatorCourse.courseData.courseName, id: facilitatorCourse.courseData.id }">
                          <div class="course-item">
                            <div class="course-thumb set-bg"
                              [ngStyle]="{'background': 'url(' + facilitatorCourse.courseData.courseImageUrl + ') no-repeat 0 0 / cover'}">
                              <!-- <div class="price">Price: {{courseAmount |currency:"₦"}}</div> -->
                            </div>
                            <div class="course-info">
                              <div class="course-text">
                                <h6 class="course-name">{{facilitatorCourse.courseData.courseName}}</h6>
                                <!-- <p [innerHTML] = "courseDescription"></p> -->
                                <!-- <div class="students">120 Students</div> -->
                                <div class="my-rating" attr.data-rating="{{facilitatorCourse.averageRating}}"></div>
                                <!-- <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating> -->
                              </div>
                              <div class="course-author">
                                <div class="ca-pic set-bg" [ngStyle]="{'background': 'url(' + facilitator.profilePictureUrl + ') no-repeat 0 0 / cover'}"></div>
                                <p>by&nbsp;{{facilitator.firstName}} <span>{{facilitator.lastName}}</span></p>
                                <!-- <p>{{firstName}} <span>{{lastName}}</span></p> -->
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-12">
                        <div class="d-flex justify-content-space-between">
                          <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
                            (pageChange)="handlePageChange($event)"></pagination-controls>

                          <div>
                            Items per Page:
                            <select (change)="handlePageSizeChange($event)">
                              <option *ngFor="let size of pageSizes" [ngValue]="size">
                                {{ size }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
