<app-navbar></app-navbar>
<div class="form-body">
        <div class="row">
			<div class="container">
			<div class="col-md-12 spad">
				<flash-messages></flash-messages>
				<div class="forgot-wrap">

					<div class="forgot-body">
						<h5>Forgot Password !!</h5> 
					  <div class="success-divider"></div>

						<form (submit)="onResetSubmit()"class="success-input">
							<input class="form-control side-space" type="text" [(ngModel)]="Email" name="user-email" placeholder="Email" required>
							
							<div class="form-button reset_btn">
								<button id="submit" type="submit" class="btn ibtn">Reset Password</button>
							</div>
                        </form>
					</div>
				</div>
					</div>
			</div>
        </div>
	</div>


  <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
			<div class="modal-title" id="myModalLabel">Reset Password</div>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		</div>
		<div class="modal-body">
			<flash-messages></flash-messages>
			<div class="mb-3">
				Please enter the Code sent to the email provided.
				</div>
				<form (submit)="getCode()">
				  <div class="form-group mb-0">
					  <input class="form-control" type="number" [(ngModel)]="Code" name="Code" placeholder="Code" required>
					</div>
					
				  <div class="form-button mt-2">
					  <button id="submit" type="submit" class="btn ibtn">Reset Password</button>
				  </div>
			  </form>
			  
		</div>
	  </div>
	</div>
  </div>

  <div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
			<div class="modal-title" id="myModalLabel">Change Password</div>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		</div>
		<div class="modal-body">
			<flash-messages></flash-messages>
				<form (submit)="onChangePasswordSubmit()">
				  <div class="form-group">
					  <input class="form-control" type="password" [(ngModel)]="NewPassword" name="NewPassword" placeholder="New password" required>
					</div>
					<div class="form-group">
						<input class="form-control" type="password" [(ngModel)]="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm New Password" required>
					  </div>
					
				  <div class="form-button mt-2">
					  <button id="submit" type="submit" class="btn ibtn">Reset Password</button>
				  </div>
			  </form>
			  
		</div>
	  </div>
	</div>
  </div>

  <!-- Flexbox container for aligning the toasts -->
<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">

	<!-- Then put toasts within -->
	<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
	  <div class="toast-header">
		<img src="..." class="rounded mr-2" alt="...">
		<strong class="mr-auto">Bootstrap</strong>
		<small>11 mins ago</small>
		<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="toast-body">
		Hello, world! This is a toast message.
	  </div>
	</div>
  </div>
	<app-footer></app-footer>