<footer class="footer-section fpad pb-0">
    <div class="footer-top">
        <div class="footer-warp">
            <div class="row">
                <div class="widget-item">
                    <ul>
                        <li><a [routerLink]="['/']">expertplat for Schools</a></li>
                        <li><a [routerLink]="['/teach-home']">Teach on expertplat</a></li>
                        <li><a [routerLink]="['/']">Get the App</a></li>
                        <li><a [routerLink]="['/']">Contact us</a></li>
                    </ul>
                </div>
                <div class="widget-item">
                    <ul>
                        <li><a [routerLink]="['/']">Careers</a></li>
                        <li><a [routerLink]="['/']">Blog</a></li>
                        <li><a [routerLink]="['/']">Help and Support</a></li>
                        <li><a [routerLink]="['/']">Affiliate</a></li>
                    </ul>
                </div>
                <div class="widget-item">
                    <ul>
                        <li><a [routerLink]="['/terms-of-use']">Terms</a></li>
                        <li><a [routerLink]="['/terms-of-use']">Privacy Policy and Cookie Policy</a></li>
                        <li><a [routerLink]="['/']">Site Map</a></li>
                        <li><a [routerLink]="['/']">Featured Course</a></li>
                    </ul>
                </div>
                <div class="widget-item">
                    <h4>Newsletter</h4>
                    <form class="footer-newslatter">
                        <input type="email" placeholder="E-mail">
                        <button class="site-btn">Subscribe</button>
                        <p>*We don’t spam</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright footer-bottom">
        <div class="row m-0">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div><img src="assets/img/logo.png" width="150px" alt=""></div>
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved Developed by <a href="https://telnetng.com/softworks-limited/" target="_blank">Softworks Limited</a>
                
            </div>

        </div>
        </div>
    
</footer> 
<!-- footer section end -->