<!-- <app-navbar></app-navbar> -->
<div class="hero-section">
    <div class="container">
      <div class="row align-items-center">
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
<div class="icon-box">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#ab0000" d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"/></svg>
    </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
        <div class="text-center">
      <div class="card">
          <div class="card-body">
              <h1 class="display-2">404</h1>
              <h2 class="display-3">Page not Found</h2>
              <p class="lead">We are Sorry, but the Page you Requested was not found</p>
              <hr>
      </div>
    </div>
      <div class="btn-container">
      <a (click)="backClicked()"><button type="button" class="btn ibtn">Go Back</button></a>
      <a href="mailto:contact@telnetng.com"><button type="button" class="btn ibtn-2">Contact us</button></a>
    </div>
</div>
  </div>
  </div>
  </div>
  </div>

  <app-footer></app-footer>