.forgot-body {
    width: 500px;
    height: 200px;
    margin: 10px auto;
    vertical-align: middle top;
}

.forgot-wrap {
    height: 200px;
}

.reset_btn {
    text-align: center;
    margin-top: 20px;
}

.form-button .ibtn {
    background-color: #006666;
    color: #fff;
    box-shadow: 0 0 0 rgba(80, 182, 255, 0.31);
    float: none;
}

.modal-dialog {
        transform: none;
        margin: 150px auto;
        justify-content: center;
        z-index: 2;
}
.forgot-body form {
    margin-top: 25px;
}