<app-navbar></app-navbar>
<div class="form-body">
        <div class="row">
			<div class="container">
			<div class="col-md-12 spad">
				<flash-messages></flash-messages>
				<div class="forgot-wrap">

					<div class="forgot-body">
						<h5>Reset Password !!</h5> 
					  <div class="success-divider"></div>
                        <form (submit)="onResetSubmit()">
                          <div class="form-group">
                            <input class="form-control form-control-lg" type="password" [(ngModel)]="NewPassword" name="NewPassword" placeholder="New password" required>
                          </div>
                          <div class="form-group mt-3">
                            <input class="form-control form-control-lg" type="password" [(ngModel)]="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm New Password" required>
                            </div>
                              
                            <div class="form-button mt-2 text-right">
                                <button id="submit" type="submit" class="btn ibtn">Submit</button>
                            </div>
                        </form>
					</div>
				</div>
					</div>
			</div>
        </div>
	</div>
	<app-footer></app-footer>